.img-thumbnail {
    background-color: yellow;
    border-color: yellow;
}

.card {
    border: 3px solid;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-img-top {
    width: auto;
    height: 400px;
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
    border-top: 3px solid;
}

.rounded-card {
    border-radius: 15px;
}

.hover-scale {
    transition: transform 0.3s;
}

.hover-scale:hover {
    transform: scale(1.1)
}

.heading-style h5 {
    font-weight: bold;
}

.logo-size img {
    width: 20px;
    margin-right: 5px;
}

.about {
    background-color: black;
    padding-bottom: 60px;
}

.members {
    background-color: #ff2f00
}

.merch {
    background-color: black;
    color: white
}

.contact {
    background-color: #ff2f00
}