*{
    font-family: helvetica;
    /* color: #1f1f1f; */
}

.section-1{
    background-color: #1f1f1f;
}
.section-2{
    background-color: #545454;
}
.section-3{
    background-color: #1f1f1f;
}

.section-4{
    background-color: #1f1f1f;
}

.card-color{
    color: black;
}

.text-type-1{
    font-size: large;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-family: Helvetica;
    font-style: italic;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
}

.scale-on-hover:hover {
    transform: scale(1.2); /* Perbesar elemen saat dihover */
    transition: transform 0.5s ease; /* Animasi perubahan */
    z-index: 1;
}

#aboutoasis h1{
    font-family: Helvetica;
    font-style: italic;
    font-weight: 800;
}


#members h1{
    font-weight: 900;
    margin-bottom: 1rem;
    font-family: Helvetica;
    font-style: italic;
}

.underlined:hover{
    text-decoration: underline;
}
.zoom:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
    
}

button{
    background-color: #1f1f1f;
    padding: 5px;
    border: 20px;
    border-radius: 10px;
}
.button-color{
    background-color: #1f1f1f;
}
.button-hover{

}




.member-container-liam{
    display: flex;
    justify-content: center;
    align-items: center;
}
.member-container-noel{
    display: flex;
    flex-direction: row-reverse ;
    justify-content: center;
    align-items: center;
}
.members-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.members-container-col{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

.hidden {
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
}

#footer{
    height: 5rem;
    width: 100vw;
}

.img-rounded{
    border: 32px;
    border-radius: 16px;
}

#gallery img{
    margin-top: 10px;
}

@media (max-width: 768px) {
    .text-type-1{
        font-size: 1.5rem;
    }
    .carousel-caption{
        font-size: 1rem;
    }
    .quotes{
        font-size: small;
    }

    #members div{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;

        /* display: block;
        justify-items: center; */
    }
}